.root {
    display: 'flex';
}

.page {
    /*background-color: #a4d5d3;*/
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(80deg, #a4d5d3, #429c98, 60%, #0b4945);
}

.appbar {
    padding: 0;
}

.toolbar {
    height: 100px;
}

.navBar {
    background-color: #d7e6e6
}