.root {
    display: 'flex';
}

.page {
    background-color: #a4d5d3;
    height: 100vh;
    width: 100vw;
}

.appbar {
    padding: 0;
}

.toolbar {
    height: 100px;
}

.navBar {
    background-color: #d7e6e6
}